<header class="topbar">
  <div class="container topbar-content">
    <div routerLink="/" class="logo">
      <span class="logo-box">
        <img src="/images.svg" alt="Laptop" width="24" height="24">
      </span>
      <span class="logo-text">LaptopMarket</span>
    </div>

    <nav class="nav">
      <a routerLink="/">Начало</a>
      <a routerLink="/laptops">Лаптопи</a>
      <a routerLink="/create">Продай</a>
      <a routerLink="/about">За нас</a>
    </nav>

    <div class="actions">
      @if (!currentUser) {
      <button class="btn btn-light" routerLink="/login">Вход</button>
      <button class="btn btn-primary" routerLink="/register">Регистрация</button>
      }

      @if (currentUser) {
      <span class="user-email">{{ currentUser.email }}</span>
      <button class="btn btn-primary" routerLink="/profile">Моят профил</button>
      <button class="btn btn-danger" (click)="logout()">Изход</button>
      }
    </div>
  </div>
</header>