.create-page {
    padding: 80px 0;
}

.create-header {
    text-align: center;
    margin-bottom: 40px;
}

.create-header h1 {
    font-size: 38px;
    margin-bottom: 10px;
    color: #111827;
}

.create-header p {
    color: #6b7280;
    font-size: 16px;
}

.create-card {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

form .btn-disabled{
    background-color:rgb(216, 216, 216);
}

.form-section {
    margin-bottom: 30px;
}

.form-section h3 {
    margin-bottom: 16px;
    font-size: 20px;
    color: #111827;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 6px;
    font-size: 14px;
    color: #374151;
    font-weight: 500;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #d1d5db;
    font-size: 15px;
    outline: none;
    background-color: #fff;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #2563eb;
}

.form-group textarea {
    resize: vertical;
    min-height: 120px;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    min-height: 52px;
    align-items: center;
    padding: 0 4px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #374151;
    cursor: pointer;
}

.radio-option input {
    cursor: pointer;
    accent-color: #2563eb;
}

.full-width {
    width: 100%;
    margin-top: 20px;
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 14px 18px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.btn-primary {
    background-color: #2563eb;
    color: #fff;
}

.btn-primary:hover {
    background-color: #1d4ed8;
}

@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .create-card {
        padding: 25px;
    }

    .create-header h1 {
        font-size: 30px;
    }
}

.form-group input.invalid,
.form-group select.invalid,
.form-group textarea.invalid {
    border: 0px solid #ddd;
    box-shadow: 0 0 0 1px #f44336;
    border-radius: 10px;
}

.form-group span {
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-left: 5px;
}