<section class="search-section">
    <div class="container">
        <div class="search-box">
            <input type="text" placeholder="Търси марка, модел или характеристика..." />
            <!-- <select>
                <option>Всички марки</option>
                <option>Apple</option>
                <option>Lenovo</option>
                <option>HP</option>
                <option>Dell</option>
                <option>Asus</option>
            </select> -->
            <button class="btn btn-primary">Търси</button>
        </div>
    </div>
</section>