<div class="container">
    <div class="register-page">
        @if(showErrorModal){
        <app-error-modal [message]="errorModalMessage" (closed)="closeErrorModal()"></app-error-modal>

        }
        <div class="register-wrapper">



            <div class="register-info">
                <span class="badge">Вход в системата</span>
                <h1>Влез в своя профил в LaptopMarket</h1>
                <p>
                    Използвай акаунта си, за да купуваш и продаваш лаптопи лесно и бързо.
                </p>

            </div>

            <div class="register-card">
                <h2>Впиши своите данни</h2>

                <form>

                    <div class="form-group">
                        <label>Имейл</label>
                        <input [(ngModel)]="email" type="email" name="email" placeholder="example@email.com" />
                    </div>

                    <div class="form-group">
                        <label>Парола</label>
                        <input [(ngModel)]="password" type="password" name="password" placeholder="••••••••" />
                    </div>

                    <button (click)="onLogin()" class="btn btn-primary full-width">Вход</button>
                </form>

                <p class="login-link">
                    Все още нямаш акаунт?
                    <a routerLink="/register">Регистрация</a>
                </p>
            </div>

        </div>
    </div>
</div>