<section class="hero">
    <div class="container hero-content">
        <div class="hero-text">
            <span class="hero-badge">Купувай и продавай лесно</span>
            <h1>Открий своя следващ лаптоп на добра цена</h1>
            <p>
                Платформа за нови и употребявани лаптопи. Разгледай оферти,
                сравни модели и публикувай своя обява само за минути.
            </p>

            <div class="hero-buttons">
                <button class="btn btn-primary" routerLink="/catalog">Разгледай всички</button>
                <button class="btn btn-outline" routerLink="/create">Продай</button>
            </div>
        </div>

       
    </div>
</section>