<div class="profile-page">
  <div class="container">
    <section class="profile-hero">
      <div class="profile-avatar">
        <span>{{ currentUser?.email?.charAt(0) || 'П' }}</span>
      </div>

      <div class="profile-info">
        <h1>Профил</h1>
        <h2>{{ currentUser?.email || 'Потребител' }}</h2>
        <p>Управлявай своите обяви и продуктите, които си добавил в количката.</p>
      </div>
    </section>

    <div class="profile-sections-grid">
      <!-- Моите обяви -->
      <div class="profile-section">
        <div class="section-header my-products">
          <h2>Моите обяви</h2>
          <p>Лаптопите, които си публикувал.</p>
        </div>

        <div class="section-card">
          @let myProducts = myLaptops();

          @if (myProducts && myProducts.length > 0) {
          <div class="products-grid">
            @for (laptop of myProducts; track laptop.id) {
            <div class="product-card-wrapper">
              <app-product-card [product]="laptop"></app-product-card>
              <div class="button-group">
                <button id="edit-btn" class="btn-edit" routerLink="/edit/{{ laptop.id }}">Редактирай</button>
                <button class="btn-delete" (click)="deleteLaptop(laptop.id)">Изтрий</button>
              </div>
            </div>
            }
          </div>
          } @else {
          <div class="placeholder-box">
            <h3>Нямаш създадени обяви</h3>
            <p>Кликни <a routerLink="/create">тук</a> за да създадеш първата си обява.</p>
          </div>
          }
        </div>
      </div>

      <div class="profile-section">
        <div class="section-header my-card">
          <h2>Продукти в количката</h2>
          <p>Лаптопите, които искаш да закупиш.</p>
        </div>

        <div class="section-card">
          @let cartProducts = cartLaptops();

          @if (cartProducts && cartProducts.length > 0) {
          <div class="products-grid">
            @for (laptop of cartProducts; track laptop.id) {
            <div class="product-card-wrapper">
              <app-product-card [product]="laptop"></app-product-card>
              <button class="btn-remove" (click)="removeFromCart(laptop.id)">Премахни</button>
            </div>
            }
          </div>
          } @else {
          <div class="placeholder-box">
            <h3>Няма продукти в количката</h3>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>