 <header class="topbar">
    <div class="container topbar-content">
      <div class="logo">
       <span class="logo-box">
        <img src="/images.svg" alt="Laptop" width="24" height="24">
</span>
        <span class="logo-text">LaptopMarket</span>
      </div>

      <nav class="nav">
        <a href="#">Начало</a>
        <a href="#">Лаптопи</a>
        <a href="#">Продай</a>
        <a href="#">За нас</a>
      </nav>

      <div class="actions">
        <button class="btn btn-light">Вход</button>
        <button class="btn btn-primary">Регистрация</button>
      </div>
    </div>
  </header>